{% extends 'layout.html.twig' %}

{% block main %}
    <h2>{{ res.title }}</h2>
    <h3>by {{ res.author }}</h3>
    <h3>Categorie : {{ res.categorie.nom }}</h3>
    {% if res.description != false %}
    <p>{{ res.description }}</p>
    {% endif %}
    <h4>{{ res.dateCreated|date("d/m/Y") }}</h4>
    {% if editable != 0 %}
        <a href="{{ path('idea_edit', {id: res.id}) }}">Editer</a>
    {% endif %}
{% endblock %}

{% block title %}
    Ma bucket-list !
{% endblock %}